{block title}{!_'Settings'}{/block}
{block head}{/block}
{block content}
    <h3>{!_'Settings'}</h3>
    <div class="separator"><!----></div>
    {widget settings}

	<h3>{!_'Api Key'}</h3>
	<code>{$apiKey!="" ? $apiKey : "no-api-key"}</code>
	{control apiKeyGenerator}
{/block}