{block title}Add Assignment - Assignments{/block}
{block head}
    <script>
	$(function() {
		$( "#frmaddAssignmentForm-assigndate" ).datetimepicker();
		$( "#frmaddAssignmentForm-duedate" ).datetimepicker();
	});
    </script>
{/block}
{block content}
<h3>Add Assignment</h3>
            <div class="separator"><!----></div>
    <div id="assignment_add">
	{widget addAssignmentForm}
    </div>
{/block}