{block title}{!_'Edit Assignment Info'} - {!_'Assignments'}{/block}
{block head}{/block}
{block content}
<h3>{!_'Edit Assignment Info'}</h3>
            <div class="separator"><!----></div>
    <div id="assignment_edit_info">
	{widget editInfoForm}
    </div>
{/block}