{block title}{$message->subject} - {!_'Messages'}{/block}
{block head}
    
{/block}

{block content}
    <div id="message_showMessage">
        {if $logged}
            <h3>{!_'Subject'}: {$message->subject}</h3>
            <div class="separator"><!----></div>
            <h4>{!_'from'} {$message->from->email}</h4>
            <span>{!_'on'} {$message->sent}</span>            
            <div>{!_'Content'}: {$message->content}</div>
        {/if}
    </div>
    
{/block}