{block title}{$message->subject} - Messages{/block}
{block head}
    
{/block}

{block content}
    <div id="message_showMessage">
        {if $logged}
            <h3>Subject: {$message->subject}</h3>
            <div class="separator"><!----></div>
            <h4>from {$message->from->email}</h4>
            <span>on {$message->sent}</span>            
            <div>Content: {$message->content}</div>
        {/if}
    </div>
    
{/block}