{block title}Add Lesson{/block}
{block head}{/block}
{block content}
<div id="course_addlesson">
    <h3>Add Lesson</h3>
    <div class="separator"><!----></div>
	{widget addLessonForm}
</div>
{/block}