{block title}{!_'Edit Lesson'}{/block}
{block head}{/block}
{block content}
<div id="lesson_edit">
    <h3>{!_'Edit Lesson'}</h3>
    <div class="separator"><!----></div>
	{control editForm}
</div>
{/block}