{block title}{!_'Add Assignment'} - {!_'Assignments'}{/block}
{block head}{/block}
{block content}
<h3>{!_'Add Assignment'}</h3>
            <div class="separator"><!----></div>
    <div id="assignment_add">
	{widget addAssignmentForm}
    </div>
{/block}