{block title}User confirmation{/block}
{block head}
    
{/block}

{block content}
    <div id="user_confirmation">
        <h4>Your registration is complete. Log in now.</h4>
    </div>
    
{/block}