{block title}{$event->name} - {!_'Event'}{/block}
{block head}
    
{/block}

{block content}
    <div id="event_homepage">
        {if $logged}
            <h3>{!_'Course Event Detail'}</h3>
            <div class="separator"><!----></div>
            <h4>{$event->name}</h4>
            <span>{!_'on'} {$event->date}</span>
            <div>{!_'Description'}: {$event->description}</div> 
        {/if}
    </div>
    
{/block}