{block title}{!_'Help'}{/block}
{block head}{/block}
{block content}
    <h3>{!_'User Manual'}</h3>
	<iframe id="helpDoc" src="https://docs.google.com/document/pub?id=1UmajizfAw4zDTFJSM9oOPiy4r_Wi8JuCOk--KqDH4q8&amp;embedded=true"></iframe>
{/block}