{block title}{!_'Edit Course'}{/block}
{block head}{/block}

{block content}
    <div id="event_homepage">
        {if $logged}
            <h3>{!_'Edit Course'}</h3>
            <div class="separator"><!----></div>
              {control editForm}
        {/if}
    </div>
    
{/block}