<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>{include #title} - {if isset($activeCourse)}{$activeCourse->name} -{/if} CourseManager</title>
        <!-- import BluePrint CSS framework -->
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/blueprint/screen.css" type="text/css" />
        <link rel="stylesheet" media="print" href="{$basePath}/css/blueprint/print.css" type="text/css" />
        <!--[if IE]><link rel="stylesheet" href="{$basePath}/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

        <!-- import jQuery CSS & JS -->
        <link type="text/css" href="{$basePath}/css/theme0/jquery-ui-1.8.16.custom.css" rel="stylesheet" />	
        <script type="text/javascript" src="{$basePath}/js/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="{$basePath}/js/jquery-ui-1.8.16.custom.min.js"></script>	
        <script type="text/javascript" src="{$basePath}/js/jquery.nette.js"></script>
        <script type="text/javascript" src="{$basePath}/js/jquery.ajaxform.js"></script>

<!-- import custom CSS styles -->
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css" type="text/css" />
        <link rel="stylesheet" media="print" href="{$basePath}/css/print.css" type="text/css" />
        <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon" />

        <script type="text/javascript">
	    // make ajax links
	    $("a.ajax").live("click", function (event) {
		event.preventDefault();
		$.get(this.href);
	    });
	    
	    
            var userMenuDown = false;
            $(document).ready(function(){
              $("#userButton").click(function(){
                if (userMenuDown){
                 $("#loginBox").slideUp();
                userMenuDown = false;
                } else {
                $("#loginBox").slideDown();
                userMenuDown = true;
                }                
              });
              {if $logged}
                  {foreach $tCourses as $course}
                      {if isset($activeCourse)}
                          {if $activeCourse->id==$course->id}
                              $("#t<? echo $course->id; ?>").slideDown();
                          {/if}
                      {/if}
                        var t<? echo $course->id; ?>Down = false;
                        $("#t<? echo $course->id; ?>_toggle").click(function(){
                            if (t<? echo $course->id; ?>Down){
                             $("#t<? echo $course->id; ?>").slideUp();
                            t<? echo $course->id; ?>Down = false;
                            } else {
                            $("#t<? echo $course->id; ?>").slideDown();
                            t<? echo $course->id; ?>Down = true;
                            } 
                      });
                  {/foreach}
                  {foreach $sCourses as $course}
                      {if isset($activeCourse)}
                          {if $activeCourse->id==$course->id}
                              $("#s<? echo $course->id; ?>").slideDown();
                          {/if}
                      {/if}
                        var s<? echo $course->id; ?>Down = false;
                        $("#s<? echo $course->id; ?>_toggle").click(function(){
                            if (s<? echo $course->id; ?>Down){
                             $("#s<? echo $course->id; ?>").slideUp();
                            s<? echo $course->id; ?>Down = false;
                            } else {
                            $("#s<? echo $course->id; ?>").slideDown();
                            s<? echo $course->id; ?>Down = true;
                            } 
                      });
                  {/foreach}
              {/if}
              
            });
        </script>

<!-- content -->                    
            {include #head}
<!-- /content -->

    </head>

    <body>
        <div class="container">
            <div  id="header" class="span-24 last">                
                <a href="{link courselist:homepage}">
                    <div id="logo">
                        <h1>Course Manager</h1>
                    </div>
                </a>

                <div id="mainmenu">
                    <ul>
                        {if $logged}<li><a id="home" class="mainMenuButton leftborder" href="{link courselist:homepage}"><span class="ui-icon ui-icon-home"></span></a></li>{/if}
                        {if $logged}<li><a class="mainMenuButton" href="{link message:homepage}"> <span class="ui-icon ui-icon-mail-open"></span>{if $countUnread>0}&nbsp;{$countUnread}{/if}</a></li>{/if}
                        {if $logged}<li><a class="mainMenuButton" href="{link settings:homepage}"> <span class="ui-icon ui-icon-gear"></span></a></li>{/if}
                        <li><a class="mainMenuButton{if !$logged} leftborder{/if}" href="{link help:homepage}"> <span class="ui-icon ui-icon-help"></span></a></li>
                        <li><a class="mainMenuButton" id="userButton"><span class="ui-icon ui-icon-person"></span>&nbsp;                        
                            {if !$logged}
                                Login
                            {else}
                                {$user->firstname} {$user->lastname}
                            {/if}
                            </a>
                            <div id="loginBox" >
                                {if $logged}
                                <div id="loggedMenu">
                                    <span class="loggedUser">{$user->firstname} {$user->lastname}</span>
                                    <a href="{link user:homepage, $user->id}">My profile</a>
                                    <a href="{link user:logout}">Log out</a>
                                </div>
                                {else}
                                    {widget signInForm} 
                                    <a class="abutton" href="{link user:register}">REGISTER</a>
                                {/if}   

                            </div>
                        </li>

                    </ul>
                    
                </div>

            </div>


            <div class="span-19" id="main">
                {if isset($activeCourse->name)}
                    <div id="naviHead">>> <a href="{link course:homepage,$activeCourse->id }">{$activeCourse->name}</a></div>
                {/if}
                <div id="content">
                    <!-- content -->                    
                    {include #content}
                    <!-- /content -->
                </div>
            </div>

            <div class="span-5 last" id="sidebar">

                {if $logged}
                <div id="courseBox">                    
                    <h3>Teachered courses</h3>
                        {foreach $tCourses as $course}
                    <div class="course asTeacher">
                            <div id="t{$course->id}_toggle" class="title">{$course['name']}</div>
                        <ul id="t{$course->id}">
                            <li><a href="{link course:homepage, $course->id}"><span class="ui-icon ui-icon-clock"></span>Lessons</a></li>
                            <li><a href="{link result:homepage, $course->id}"><span class="ui-icon ui-icon-tag"></span>Results</a></li>
                            <li><a href="{link assignment:homepage, $course->id}"><span class="ui-icon ui-icon-check"></span><b>Assignments</b></a></li>
                            <li><a href="{link resource:homepage, $course->id}"><span class="ui-icon ui-icon-folder-open"></span>Resources</a></li>
                            <li><a href="{link forum:homepage, $course->id}"><span class="ui-icon ui-icon-comment"></span>Forum</a></li>
                            <li><a href="{link event:homepage, $course->id}"><span class="ui-icon ui-icon-calculator"></span>Events</a></li>
                        </ul>
                    </div>
                        {/foreach}
                    <h3>Student courses</h3>
                        {foreach $sCourses as $course}
                    <div class="course asStudent">
                            <div id="s{$course->id}_toggle" class="title">{$course['name']}</div>
                        <ul id="s{$course->id}">
                            <li><a href="{link course:homepage, $course->id}"><span class="ui-icon ui-icon-clock"></span>Lessons</a></li>
                            <li><a href="{link result:homepage, $course->id}"><span class="ui-icon ui-icon-tag"></span>Results</a></li>
                            <li><a href="{link assignment:homepage, $course->id}"><span class="ui-icon ui-icon-check"></span><b>Assignments</b></a></li>
                            <li><a href="{link resource:homepage, $course->id}"><span class="ui-icon ui-icon-folder-open"></span>Resources</a></li>
                            <li><a href="{link forum:homepage, $course->id}"><span class="ui-icon ui-icon-comment"></span>Forum</a></li>
                            <li><a href="{link event:homepage, $course->id}"><span class="ui-icon ui-icon-calculator"></span>Events</a></li>
                        </ul>
                    </div>
                        {/foreach}
                </div>
                {/if}


            </div>
        </div>
        <div id="footer" class="border">
            <div><span>Course Manager (© 2011)</span>
                <br /> by Jakub Kinst &lt;<a href="mailto:jakub@kinst.cz">jakub@kinst.cz</a>&gt;</div>
        </div>

<!-- Flash messages -->
        <div id="flashMessages">
            {foreach $flashes as $flash}            
            <div class="flash {$flash->type}">
                    {$flash->message}
            </div>            
            {/foreach}
        </div>

<!-- Load Visual JavaScript functions -->
        <script src="{$basePath}/js/visual.js"></script>
    </body>
</html>
