<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Course Manager</title>
        <!-- import BluePrint CSS framework -->
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/blueprint/screen.css" type="text/css" />
        <link rel="stylesheet" media="print" href="{$basePath}/css/blueprint/print.css" type="text/css" />
        <!--[if IE]><link rel="stylesheet" href="{$basePath}/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

        <!-- import custom CSS styles -->
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css" type="text/css" />
        <link rel="stylesheet" media="print" href="{$basePath}/css/print.css" type="text/css" />
        <link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon" />
        
        <!-- jQuery load -->
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        
    </head>

    <body>
        <div class="container">
            <div  id="header" class="span-24 last">
                <a href="{link courselist:homepage}">
                    <div id="logo">
                        <h1>Course Manager</h1>
                    </div>
                </a>
                {if $logged}
                <div id="mainmenu">
                    <ul>
                        <li><a href="{link courselist:homepage}">My Courses</a></li>
                        <li><a class="notActive" href="{link notification:homepage}">Notifications</a></li>
                        <li><a class="notActive" href="{link messages:inbox}"><b>Messages(2)</b></a></li>
                        <li><a class="notActive" href="{link settings:homepage}">Settings</a></li>
                        <li><a class="notActive" href="{link help:homepage}">Help</a></li>
                        <li>
                            <a class="notActive" href="{link user:homepage, $userid}">                        
                                {$user->email}
                            </a>                           
                        </li>
                    </ul>
                </div>
                {/if}

            </div>


            <div class="span-19" id="main">
                <div id="content" class="border">
                    <!-- content -->                    
                    {include #content}
                    <!-- /content -->
                </div>
            </div>

            <div class="span-5 last" id="sidebar">
                <div id="loginBox" class="border">
                    {if $logged}
                        <div class="loggedUser">{$user->email}</div>
                        <div class="buttonLine">
                            <a href="{link user:logout}">LOG OUT</a>
                        </div>
                    {else}
                        {widget signInForm}                      
                        <div class="buttonLine">
                            <a href="{link user:register}">REGISTER</a>
                        </div>
                    {/if}   

                </div>
                {if $logged}
                    <div id="courseBox" class="border">                    
                        <h3 class="caps">Teachered courses</h3>
                        {foreach $tCourses as $course}
                            <div class="course asTeacher">
                                <a href="{link course:homepage, $course['id']}">
                                    <div class="title">{$course['name']}</div>
                                </a>
                                <div class="lectors">
                                     {foreach $course['lectors'] as $lector}
                                        <a href="{link user:homepage, $userid}" class="lector">{$lector['email']}</a>
                                     {/foreach}
                                </div>
                                <ul>
                                    <li><a href="{link course:homepage, $course->id}">Lessons</a></li>
                                    <li><a href="{link result:homepage, $course->id}">Results</a></li>
                                    <li><a class="notActive" href="assignments.xhtml"><b>Assignments</b></a></li>
                                    <li><a class="notActive" href="resources.xhtml">Resources</a></li>
                                    <li><a class="notActive" href="forum.xhtml">Forum</a></li>
                                    <li><a class="notActive" href="events.xhtml">Events</a></li>
                                </ul>
                            </div>
                        {/foreach}
                        <h3 class="caps">Student courses</h3>
                        {foreach $sCourses as $course}
                            <div class="course asStudent">
                                <a href="{link course:homepage, $course['id']}">
                                    <div class="title">{$course['name']}</div>
                                </a>
                                <div class="lectors">
                                     {foreach $course['lectors'] as $lector}
                                        <a href="{link user:homepage, $userid}" class="lector">{$lector['email']}</a>
                                     {/foreach}
                                </div>
                                <ul>
                                    <li><a href="{link course:homepage, $course['id']}">Lessons</a></li>
                                    <li><a href="{link result:homepage, $course->id}">Results</a></li>
                                    <li><a class="notActive" href="assignments.xhtml"><b>Assignments</b></a></li>
                                    <li><a class="notActive" href="resources.xhtml">Resources</a></li>
                                    <li><a class="notActive" href="forum.xhtml">Forum</a></li>
                                    <li><a class="notActive" href="events.xhtml">Events</a></li>
                                </ul>
                            </div>
                        {/foreach}
                    </div>
                {/if}

                               
            </div>
        </div>
        <div id="footer" class="border">
            Course Manager by Jakub Kinst
        </div>
        
        <!-- Flash messages -->
        <div id="flashMessages">
            {foreach $flashes as $flash}            
                <div class="flash {$flash->type}">
                    {$flash->message}
                </div>            
            {/foreach}
        </div>
        
        <!-- Load Visual JavaScript functions -->
        <script src="{$basePath}/js/visual.js" />
    </body>
</html>
