*{
    margin:0;padding:0;
}
div , a{    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

.floatcontainer{
    overflow: auto;
}
.ui-icon{
    float:left;        
}
body {
    font-family: "Trebuchet MS",Verdana,Arial,sans-serif; 
    font-size: 11px;
    color: #222222;
    background-color: #fff;
}

tbody tr:nth-child(even) td, tbody tr.even td {
    background: #edffc7;
}

/* Disable even row coloring in forms */
form tbody tr:nth-child(even) td, form tbody tr.even td {
    background-color:transparent;
} 
a {
    text-decoration: none;
    color:#555555;
}
a:hover {
    text-decoration: none;
    color:#111111;
}
#content{
    padding:5px;
    border:1px solid #aaaaaa;
}
#content h3{
    color:#555555;
    margin:8px;
    font-size: 18px;
}
#content .separator {
    height: 1px;
    width: 98%;
    display: block;
    background-color: #AAAAAA ;
    margin:8px;
    margin-left: auto;
    margin-right: auto;
}
#content table{    
    border: 1px solid #aaaaaa;
}
#content table th{
    background:#c7cdcf;
}
#naviHead {
    padding:1px;
    padding-left:10px;
    background:#c8fe53;
    font-size: 17px; 
    color:#555555;
    text-transform: uppercase;
    margin-bottom:4px;
    border:1px solid #aaaaaa;
}

.notActive {
    text-decoration: line-through;
}
/* Required form input */
form tr.required {
    font-weight: bold;
    color:#C00;
}
div.buttonline{
    width:100%;
    height:32px;
}
a.abutton {
    font-weight: bold;
    text-transform: uppercase;
    display:block;
    float:right;
    padding:3px;
    margin:3px;
    padding-left: 6px;
    padding-right:6px;
    background: #c7cdcf;
    border:1px solid #aaaaaa;
}
a.abutton:hover{
    background:#edffc7;
    color:black;
}
a.adminbutton{
    background:#a8d546;
}
a.redbutton{
    background:#fe896e;
}
#content form table{
    border:none;
}
#content form table th{
    background:transparent;
}
form tr{
    margin:0px;
    padding:0px;
}

form td{
    padding:3px;
}
input{
    font-size:11px;
    margin:0px;
}
input.text{
    padding:2px;
    background:#edffc7;
    width:200px;
}
input.button{
    padding:2px;
    background:#edffc7;
}


#header {
    width:100%;
    height:50px;
}
#footer{
    margin-top:40px;
    width:100%;
    height:30px;
    font-size:11px;
    text-align: right;
    color:#aaaaaa;
}
#footer div{
    float:right;
    margin-right:40px;
    width:300px;
    padding:4px;
    border-top:1px solid #aaaaaa;
}
#footer span {
    color:#222222;
}
#logo{
    width:498px;
    height:39px;
    float:left;
    margin-top:3px;
    background: url('../images/logo.png');
}
#logo h1{
    display:none;
}
#mainmenu{
    float:right;
}
#mainmenu .ui-icon{
    margin-right:0px;
    display:block;
}
#mainmenu #home .ui-icon{
    margin-left:10px;
    margin-right:10px;
}
#mainmenu ul{
    list-style-type: none;
}
#mainmenu ul li{
    float:left;
}
#mainmenu ul li a.mainMenuButton{

    height:18px;
    padding:4px;
    padding-left: 6px;
    padding-right: 7px;
    font-size:12px;
    background: #c8fe53;
    border: 1px solid #aaaaaa;
    cursor:pointer;
    border-left:none;    
    border-top:none;
    display:block;    
    overflow: auto;

    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    -khtml-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -khtml-border-top-left-radius: 0px;
    border-top-left-radius: 0px;

}
#mainmenu ul li a.leftborder{
    border-left:1px solid #aaaaaa;
}
#mainmenu ul li a.mainMenuButton:hover{
    background: #c7cdcf;
    color: black;
}
#loginBox {
    position:absolute;
    display:none;
    top:26px;
    padding:5px;
    background: #c8fe53;
    border: 1px solid #aaaaaa;
}
#loginBox input.text{
    width:120px;
}
#loginBox #loggedMenu{
    width:160px;
    height:70px;
}

#loginBox .loggedUser {
    display:block;
    color:#C00;
    text-align: right;
    font-size:20px;
}
#loginBox a{
    display:block;
    text-align: right;
}
#courseBox{
    padding:5px;
}
#courseBox h3{
    font-size:13px;
    font-weight: bold;

}
#courseBox .course ul {  
    display:none;
    padding:0;
    margin:0;
    list-style-type: none;
    margin:5px;
    padding-left:10px;
}
#courseBox .course ul li {   
    font-weight: bolder;
    text-transform: uppercase;
}
#courseBox .course {
    margin:10px;
    border:1px solid #aaaaaa;
    background:white;

}
.ui-icon{
    margin-right:6px;
}
#courseBox .course .title{
    color:black;
    padding:4px;
    font-size:11px;
    font-weight: bold;
    cursor:pointer;
}
#courseBox .asTeacher .title{    
    background-color: #c8fe53;
}
#courseBox .asStudent .title{    
    background-color: #c7cdcf;
}
#flashMessages {
    position:absolute;
    top:50%;
    left:35%;
    width:350px;
}
.flash{
    font-weight:bold;
    font-style: italic;
    color:black;
    padding:10px;
    width:100%;
}
.unauthorized {
    background:#ffcc33;
    color:#ff6600;
    border:2px solid #aaaaaa;
}
.success {
    background:#66cc00;
    color:#339900;
    border:2px solid #aaaaaa;
}

/* CourseList Presenter */

#courseList_homepage .invite{
    border:1px solid #aaaaaa;
    background: wheat;
    padding:5px;
}
#courseList_homepage .invite a{
    float:right;
    margin-left:3px;
    margin-right:3px;
    background:#e5ecf9;
    padding-left:2px;
    padding-right:2px;
    border:1px solid #aaaaaa;
}
#courseList_homepage .invite a:hover{
    background:#aaaaaa;
}
#courseList_homepage h4{
    font-size:16px;
    font-weight: bold;
    color: #555555;
    border-bottom:1px solid #aaaaaa;
    padding:4px;
}

#courseList_homepage .teachercourses{
    width:50%;
    float:left;
}
#courseList_homepage .studentcourses{
    width:50%;
    float:left;
}
#courseList_homepage .course {
    margin:8px;
    border: 1px solid #aaaaaa;
}
#courseList_homepage .course:hover {
    background:#edffc7;  
}
#courseList_homepage .course .head{
    display:block;
    padding:5px;
    border-bottom:1px solid #aaaaaa;
}
#courseList_homepage .asTeacher .head {    
    background-color: #c8fe53;
}

#courseList_homepage .asStudent  .head{    
    background-color: #c7cdcf;
}
#courseList_homepage .course .title{
    font-size: large;
    color: black;   
}
#courseList_homepage .course .description{
    font-size: small;
    color: black;  
    padding:5px;
}


/* Course Presenter */
#course_homepage h5{
    padding-left:25px;
    font-size:17px;
}
#studentList, #lectorList{
    margin-top:10px;
    padding:10px;
}

/* Lesson Presenter */
#lesson_homepage #date {
    margin-left: 10px;    
    font-style: italic; 
}
#lesson_homepage #description {
    margin-left: 10px;   
}
#lesson_homepage #comments {
    margin-left: 40px;    
}
#lesson_homepage #comments .comment {
    border:1px solid #aaaaaa;
    background: #c7cdcf;
    padding:5px;
    width:60%;
    margin-top: 10px;
}
#lesson_homepage #comments .comment .author {
    font-weight:bold;
    color:black;
}
#lesson_homepage #comments .comment .time {
    font-style: italic;
    color:#333;
}
#lesson_homepage #comments .comment .content {
    border-top:1px solid #aaaaaa;
    padding:3px;
    padding-left: 5px;
    color:black;
}
#lesson_homepage #commentForm {
    border:1px solid #aaaaaa;
    padding:5px;
    text-align: center;
}
#lesson_homepage #commentForm textarea{
    border:1px solid #aaaaaa;
    background: #e5ecf9;
    padding:5px;
    width:300px;
    height:80px;
}

/* Forum presenter */
#forum_showTopic h4{
    font-size: 20px;
    font-weight: bold;
    margin:0px;
    padding:4px;

}
.forum_thread_head{
    border:1px solid #aaaaaa;
    margin:auto;
    background-color: #c8fe53;
    padding:20px;
}
.forum_thread_reply{
    border:1px solid #aaaaaa;
    margin:auto;
    margin-left:20px;
    background-color: #edffc7;
    padding:20px;
}

/* Event presenter */
.event_event{
    margin:10px;
    background: #c8fe53;
    border:1px solid #aaaaaa;
}

/* Message presenter */
#message_inbox tr.notRead td{
    font-weight: bold;
}
/* Assignment presenter */
#assignment_edit #formcreator{
    overflow: auto;    
}
#assignment_edit #formcreator div.scroll{    
    width:3000px;
}

#assignment_edit #formcreator div div{    
    float:left;
    width:260px;
    margin:5px;
}
#assignment_edit #formcreator input[type=text]{
    width:150px;
    margin:0;
}
#assignment_edit #formcreator textarea{
    width:150px;
    height:80px;
}
#assignment_homepage .assignment{
    background: #c8fe53;
    margin:5px;
    border:1px solid #aaaaaa;
    padding:5px;
}
#assignment_show .description{

    background: #c8fe53;
    margin:5px;
    border:1px solid #aaaaaa;
    padding:5px;
}
#assignment_show .generalinfo{
    margin:5px;
    border:1px solid #aaaaaa;
    padding:5px;
}
#assignment_show .timelimitinfo{        
    background:#fe896e;
    margin:5px;
    border:1px solid #aaaaaa;
    padding:5px;
}
#assignment_show .timelimitinfo strong{
    color:black;
}
#assignment_solve h4#remainingtime{
    font-size:20px;
    color:red;
    font-weight:bold;
    display:block;
    padding:5px;
    margin:5px;
    visibility: hidden;
    border:1px solid #aaaaaa;
}

.online{
    font-weight:bold;
}

/* User presenter */
#user_homepage span{
    display:block;
    font-size:13px;
}